{% load i18n %}
<h1>{% trans "Dear Candidate," %}</h1>
<p>{% trans "We would like to invite you to a video interview with our Virtual Recruiter Vera." %}</p>
<p><strong>{% trans "Before the interview, please, make sure, that you:" %}</strong></p>
<ul>
    <li>{% trans "connected and enable a camera, headphones and a microphone;" %}</li>
    <li>{% trans "use Google Chrome browser, latest version;" %}</li>
    <li>{% trans "have a stable internet connection;" %}</li>
    <li>{% trans "are in a quiet and comfortable environment." %}</li>
</ul>
