{% load i18n %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
    <body>
        <table data-role="email" border="0" cellPadding="0" cellSpacing="0" style="margin:0 auto;padding:0;width:100%;max-width:600px;font:16px Roboto, Arial, sans-serif;color:#4a4a4a;background-color:#ffffff" data-reactroot="">
            <tbody>
                <tr>
                    <td style="height:200px;width:100%;max-width:600px;margin:0;font:28px Roboto, Arial, sans-serif;text-align:center;line-height:200px;color:#ffffff;-webkit-text-size-adjust:none;vertical-align:middle;background-repeat:repeat-x;background-image:url({{pic_url}})">
                        <span >{% trans "Invitation to the video interview" %}</span>
                    </td>
                </tr>
                <tr>
                    <td style="padding:50px 20px;max-width:560px;word-wrap:break-word;background:#ffffff">
                        {% if description %}{{ description|safe }}{% endif %}
                        <p style="padding:20px 34px;border-radius:6px;border:1px solid #5badff;margin:24px 0;font:14px Roboto, Arial, sans-serif;line-height:25px" >{% trans "During the interview, Vera will ask you different questions. When you finish answering the question, please say <b>“next question”</b> to go to the next question. You can also ask Vera to repeat the question by saying <b>“repeat please.”</b>" %}</p>
                        <p >{% trans "If you are ready to start the interview, please click below." %}</p>
                        <p>
                        <b>{% trans "Good luck!</b>" %}</p>
                        <a href="{{ link }}" style="display:block;margin:20px auto 0;width:202px;height:54px;border-radius:40px;line-height:54px;color:#ffffff;text-align:center;text-decoration:none;box-shadow:0 6px 12px 0 rgba(91, 173, 255, 0.54);background-color:#5bb8ff" >{% trans "CLICK HERE" %}</a>
                    </td>
                </tr>
                <tr>
                    <td style="padding:16px 20px;background:#f7f7f7;font:14px Roboto, Arial, sans-serif;line-height:16px;color:#9b9b9b !important;-webkit-text-size-adjust:none">
                        <span style="display:inline-block">©<span >{% now "Y" %}</span>, vera.hr</span>
                        <a href="#" style="display:block;text-decoration:underline;float:right;color:#9b9b9b" >{% trans "Unsubscribe here" %}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
